* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.content {
	display: flex;
	flex-direction: column;
}

.content-container {
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	display: flex;
	background-color: #212529;
	color: white;
}

.navbar-container {
	height: 56px;
}

.admin-panel-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.logger-content {
	height: 50vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.user-content {
	height: 50vh;
}

table {
	border: 1px solid white;
}

th,
td {
	padding: 5px;
	border: 1px solid white;
}
